.button {
  display: inline-block;
  background: #ffc825;
  color: #010101;
  font-size: 16px;
  box-shadow: 5px 5px #c42430;
  text-decoration: none;
  padding: 19px 40px;
  text-transform: uppercase;
  transition: box-shadow 100ms ease-in-out, transition 100ms ease-in-out;
}

.button:hover {
  box-shadow: 0px 0px #c42430;
  transform: translate(2.5px, 2.5px);
}
